<html lang="en" class="overflow-x-hidden">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes, viewport-fit=cover" />
    <title>BestPOS - Find the Best POS System for Your Business</title>
    <link rel="modulepreload" href="/assets/main-DBZ6xKGY.js" />
    <link rel="modulepreload" href="/assets/tanstack-mBcU-sGp.js" />
    <link rel="modulepreload" href="/assets/vendor-Bhlb5BL9.js" />
    <link rel="modulepreload" href="/assets/i18n-vendor-C1h7s1-k.js" />
    <link rel="modulepreload" href="/assets/form-vendor-BFPdPrtu.js" />
    <link rel="modulepreload" href="/assets/index-CZ4J57Qh.js" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="preconnect" href="/" />
    <link rel="dns-prefetch" href="/" />
    <link rel="preload" href="/assets/styles-X5QBSpG2.css" as="style" />
    <link rel="stylesheet" href="/assets/styles-X5QBSpG2.css" />
</head>

<body><!--$-->
    <div class="flex w-full max-w-full flex-col min-h-screen overflow-x-hidden">
        <header class="bg-white border-b border-neutral-200 px-4 w-full">
            <div class="mx-auto px-4 sm:px-6 lg:px-8 flex items-center w-full max-w-[1440px]"><button
                    data-slot="sheet-trigger"
                    class="inline-flex rounded-md items-center font-bold text-base transition-all hover:opacity-80 hover:drop-shadow cursor-pointer hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 size-9 lg:hidden p-0"
                    type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-_R_1aq_"
                    data-state="closed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide lucide-menu w-6 h-6" aria-hidden="true">
                        <path d="M4 5h16"></path>
                        <path d="M4 12h16"></path>
                        <path d="M4 19h16"></path>
                    </svg></button><a class=" min-w-[34px] active" href="/" data-status="active" aria-current="page">
                    <picture>
                        <source media="(max-width: 768px)"
                            srcSet="https://res.cloudinary.com/dgrym3yz3/image/upload/v1760686738/bestpos/icons/mobile_logo_xmuhhk.svg" />
                        <img src="https://res.cloudinary.com/dgrym3yz3/image/upload/v1760686731/bestpos/icons/full_pos_logo_yx6yrx.png"
                            alt="BestPOS Logo" width="180" height="40" class="w-10 md:w-[180px] h-10" loading="lazy"
                            decoding="async" />
                    </picture>
                </a>
                <div class="hidden md:flex flex-1"></div>
                <div class="flex items-center gap-4 h-12"><a href="tel:1-888-410-2188"
                        class="hidden lg:flex items-center gap-2 p-3 h-full border-2 border-primary rounded-md"><img
                            src="/color-icons/phone.svg" alt="phone" width="24" height="24" loading="lazy"
                            decoding="async" /><span
                            class="text-sm font-semibold text-neutral-900">1-888-410-2188</span></a><button
                        data-slot="dropdown-menu-trigger"
                        class="inline-flex items-center font-bold text-base transition-all hover:opacity-80 hover:drop-shadow cursor-pointer hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 h-8 rounded-md px-3 has-[&gt;svg]:px-2.5 gap-2"
                        type="button" id="radix-_R_kaq_" aria-haspopup="menu" aria-expanded="false"
                        data-state="closed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe h-4 w-4"
                            aria-hidden="true">
                            <circle cx="12" cy="12" r="10"></circle>
                            <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path>
                            <path d="M2 12h20"></path>
                        </svg><span class="hidden sm:inline">🇺🇸<!-- --> <!-- -->English</span><span
                            class="sm:hidden">🇺🇸</span></button></div>
            </div>
        </header>
        <main class="flex-1 min-h-screen w-full max-w-full overflow-x-hidden"><!--$-->
            <div class="flex flex-col">
                <nav class="z-100 bg-accent lg:hidden sticky top-0 w-full px-2 py-2 flex gap-1.5 overflow-hidden"
                    aria-label="Key features"><span data-slot="badge"
                        class="inline-flex rounded-full border text-xs font-medium w-fit whitespace-nowrap [&amp;&gt;svg]:size-3 [&amp;&gt;svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden border-transparent text-primary-foreground [a&amp;]:hover:bg-primary/90 flex-1 flex-col p-1 bg-accent gap-0.5 items-center justify-center min-w-0"
                        role="listitem"><img width="20" height="20" src="/color-icons/save-money.svg"
                            alt="Save Money Icon" class="shrink-0" loading="lazy" decoding="async" /><span
                            class="text-neutral-900 text-[10px] leading-tight font-semibold text-center wrap-break-word w-full">Best
                            POS Prices</span></span><span data-slot="badge"
                        class="inline-flex rounded-full border text-xs font-medium w-fit whitespace-nowrap [&amp;&gt;svg]:size-3 [&amp;&gt;svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden border-transparent text-primary-foreground [a&amp;]:hover:bg-primary/90 flex-1 flex-col p-1 bg-accent gap-0.5 items-center justify-center min-w-0"
                        role="listitem"><img width="20" height="20" src="/color-icons/Receive Cash.svg"
                            alt="Signing Bonus Icon" class="shrink-0" loading="lazy" decoding="async" /><span
                            class="text-neutral-900 text-[10px] leading-tight font-semibold text-center wrap-break-word w-full">Same
                            Day Funding</span></span><span data-slot="badge"
                        class="inline-flex rounded-full border text-xs font-medium w-fit whitespace-nowrap [&amp;&gt;svg]:size-3 [&amp;&gt;svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden border-transparent text-primary-foreground [a&amp;]:hover:bg-primary/90 flex-1 flex-col p-1 bg-accent gap-0.5 items-center justify-center min-w-0"
                        role="listitem"><img width="20" height="20" src="/color-icons/Zero Processing Fees.svg"
                            alt="Zero Processing Fees Icon" class="shrink-0" loading="lazy" decoding="async" /><span
                            class="text-neutral-900 text-[10px] leading-tight font-semibold text-center wrap-break-word w-full">0%
                            Processing Fees</span></span></nav>
                <section class="bg-primary lg:h-[450px] overflow-hidden w-full py-0 md:py-0">
                    <div
                        class="flex flex-col h-full gap-6 w-full max-w-[1440px] mx-auto px-4 md:px-8 lg:flex-row lg:justify-center">
                        <div
                            class="flex-1 py-6 md:p-8 xl:pl-20 flex flex-col items-center justify-center gap-4 md:gap-6 lg:items-start">
                            <h1
                                class="font-extrabold text-center text-3xl md:text-4xl lg:text-5xl text-white lg:text-start">
                                The Best POS System For Your Business At The Best Price</h1><button data-slot="button"
                                class="inline-flex rounded-md items-center font-bold text-base px-4 transition-all hover:opacity-80 hover:drop-shadow cursor-pointer text-white h-12 md:h-14 bg-neutral-900 lg:self-start"
                                aria-label="Get free pricing quote"><a href="/get-pricing">Get a Free Quote</a></button>
                        </div>
                    </div>
                </section>
            </div>
            <script></script>