@import "tailwindcss";
@import "tw-animate-css";

/* @theme {
    --default-font-family: Inter;
    --default-mono-font-family: Inter;
} */
body {
  @apply m-0;
  font-family: Inter,  sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
