@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-inter: Inter, system-ui, sans-serif;
  
  /* Custom Colors */
  --color-primary: #ff5a22;
  --color-secondary: #0b70fe;
  --color-success: #039855;
  --color-accent: #ffd8c6;
  
  /* Neutral Colors */
  --color-neutral-100: #f2f4f7;
  --color-neutral-200: #eaecf0;
  --color-neutral-300: #d0d5dd;
  --color-neutral-400: #98a2b3;
  --color-neutral-600: #475467;
  --color-neutral-700: #344054;
  --color-neutral-900: #101828;
  --color-neutral-dark: #020202;
  
  /* Green Colors */
  --color-green-100: #ccf5de;
  --color-green-500: #ff5a22;
  --color-green-600: #007833;
  
  /* Yellow Colors */
  --color-yellow-200: #feee95;
  --color-yellow-400: #cde762;
  
  /* Red Colors */
  --color-red-200: #fecdca;
  --color-red-500: #d92d20;
  
  /* Blue Colors */
  --color-blue-300: #cee2ff;
  --color-blue-500: #0b70fe;
  
  /* Orange Colors */
  --color-orange-500: #ff5a22;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @apply m-0;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
